<h1> <%= @team.name %> </h1>

<h2> Team Motto: <%= @team.motto %> </h2>

<h2><% @members.each do |member| %>
    <%= member.name %>
    <%= member.power %>
    <%= member.bio %></h2>


 <h2>Hero Name: <%= @member.name %></h2>
    <p></p>
    <p></p>
<h2></h2>
    <p></p>
    <p></p>
<h2></h2>
    <p></p>
    <p></p>
    
